body{
	background-color: #fc4b08;
	font-family: "arial";
}

#logoimg{
	width: 10%;
	height: 20%;
	border-radius: 120%;
	position: absolute;
	margin-left: 2%;
	margin-top: 1%;
}

#menuHor{
	position: absolute;
	margin-top: 10%;
	width: 20%;
	height: 70%;
	font-size: 100%;
	justify-content: center;

}

a{
	text-decoration: none;
	color: white;
	justify-content: center;
	
}

#alu{
	position: absolute;
	margin-top: 20%;
	text-align: center;
	margin-left: 23%;
	justify-content: center;
}

#exer{
	position: absolute;
	margin-top: 40%;
	text-align: center;
	margin-left: 23%;
	justify-content: center;
}

#trei{
	position: absolute;
	margin-top: 60%;
	text-align: center;
	margin-left: 23%;
	justify-content: center;
}

#map{
	position: absolute;
	margin-top: 80%;
	text-align: center;
	margin-left: 23%;
	justify-content: center;
}

#central{
	position: absolute;
	width: 90%;
	height: 90%;
	background-image: url("Pitty.jpg");
	margin-left: 15%;
	margin-top: 4%;
}


#nomeExer{
	position: absolute;
	opacity: 0.7;
	width: 45%;
	height: 80%;
	background-color: white;
	border-radius: 20px;
	border: 5px solid black;
	margin-left: 25%;
	margin-top: 3%
}

#pei{
	border: solid black 2px;
	background-color: white;
	width: 35%;
	height: 5%;
	position: absolute;
	margin-top: 10%;
	margin-left: 10%;
	text-align: center;
	color: black; 	
}

#del{
	border: solid black 2px;
	background-color: white;
	width: 35%;
	height: 5%;
	position: absolute;
	margin-top: 30%;
	margin-left: 10%;
	text-align: center;
	color: black; 
}

#per{
	border: solid black 2px;
	background-color: white;
	width: 35%;
	height: 5%;
	position: absolute;
	margin-top: 50%;
	margin-left: 10%;
	text-align: center;
	color: black; 	
}

#tri{
	border: solid black 2px;
	background-color: white;
	width: 35%;
	height: 5%;
	position: absolute;
	margin-top: 70%;
	margin-left: 10%;
	text-align: center;
	color: black; 
}

#bic{
	border: solid black 2px;
	background-color: white;
	width: 35%;
	height: 5%;
	position: absolute;
	margin-top: 10%;
	margin-left: 60%;
	text-align: center;
	color: black; 
}

#abd{
	border: solid black 2px;
	background-color: white;
	width: 35%;
	height: 5%;
	position: absolute;
	margin-top: 30%;
	margin-left: 60%;
	text-align: center;
	color: black; 
}

#cos{
	border: solid black 2px;
	background-color: white;
	width: 35%;
	height: 5%;
	position: absolute;
	margin-top: 50%;
	margin-left: 60%;
	text-align: center;
	color: black; 
}

#ant{
	border: solid black 2px;
	background-color: white;
	width: 35%;
	height: 5%;
	position: absolute;
	margin-top: 70%;
	margin-left: 60%;
	text-align: center;
	color: black; 
}





	
